---
---

$primary-color: #2e2f4a;
$secondary-color: #171721;
$round-edges: 10px;
$animation-duration: 0.7s;
$iframe-scale-factor: 0.18;

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#loaded {
  display: none;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0;
  box-sizing: border-box;
  border-left: 0.5rem solid white;
  border-top: 0.5rem solid white;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
  font-weight: 400;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

#preview-wrapper {
  display: block;
  height: 1080px * $iframe-scale-factor;
  width: 1920px * $iframe-scale-factor;
  border-radius: 50px;
  transition: filter 0.2s;
  margin: 15px;

  &:hover {
    filter: brightness(0.8);
  }
}

iframe {
  border: 10px solid white;
  overflow: hidden;
  border-radius: 50px;
  width: 1920px;
  height: 1080px;
  transform: scale($iframe-scale-factor);
  transform-origin: 0 0;
  pointer-events: none;
  background-color: white;
}

#short {
  background-color: #c8d0de;
  border-radius: $round-edges;
  color: $primary-color;
  padding: 10px 20px;
  font-weight: 100;
}

.link {
  color: white;

  &:hover {
    color: #4287f5 !important;
  }
}

.info {
  align-items: center;
  margin: 15px 0;

  h2 {
    font-size: 30px;
    margin: 0;

    #date-description {
      font-weight: 400;
    }
  }
}

#verified,
#malicious {
  display: none;

  img {
    height: 30px;
    vertical-align: middle;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
  }

  i {
    color: #ff5252;
  }
}

.col {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .info-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex-direction: row;
  }

  .info {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 500px) {
  #preview-wrapper {
    height: 1080px * 0.15;
    width: 1920px * 0.15;
  }

  iframe {
    transform: scale(0.15);
  }

  h1 {
    font-size: 22px;
  }

  .info h2,
  #malicious h2,
  #verified h2 {
    font-size: 20px;
  }
}
