---
---

$primary-color: #2e2f4a;
$secondary-color: #171721;
$round-edges: 10px;
$animation-duration: 0.7s;

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: white;
  font-family: "Poppins", sans-serif;
}

#loaded {
  display: none;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0;
  box-sizing: border-box;
  border-left: 0.5rem solid white;
  border-top: 0.5rem solid white;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
}

#short {
  background-color: #c8d0de;
  border-radius: $round-edges;
  color: $primary-color;
  padding: 10px 20px;
  font-weight: 100;
}

#long {
  font-weight: 400;
  color: white;
  transition: color 0.2s;

  &:hover {
    color: #4287f5 !important;
  }
}

.info {
  display: none;
  align-items: center;

  img {
    height: 80px;
  }

  h2 {
    font-size: 40px;
    margin: 0;

    #date-description {
      font-weight: 400;
    }
  }
}
