---
---

$primary-color: #2e2f4a;
$secondary-color: #171721;
$round-edges: 10px;
$animation-duration: 0.7s;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: white;
  font-family: "Poppins", sans-serif;
}

#short {
  background-color: #c8d0de;
  border-radius: $round-edges;
  color: $primary-color;
  padding: 10px 20px;
  font-weight: 100;
}

#long {
  color: white;
  transition: color 0.25s;

  &:hover {
    color: #4287f5;
  }
}
